body{
    margin: 0;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 600px;
    height: 600px;
    /* background-color: rgb(15, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.particle{
    width: 36px;
    height: 36px;
    background: #444;
    margin: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}